<!DOCTYPE html>
<html lang="en">
{% load static %}  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Welcome to our Website</title>

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <section>
        <nav class="navbar">
            <h1>Zahid's Garment</h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Products</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">About us</a></li>
              
            </ul>
            <button class="btn">Login</button>
        </nav>
    </section>

    <!-- Your content will go here -->
    <div>
        {% block content %}
        <!-- Child templates will insert their content here -->
        {% endblock %}
    </div>

    <!-- Link to JS file -->
    <script src="{% static 'js/script.js' %}"></script> 
</body>
</html>
