{% extends 'testapp/base.html' %}
{% load static %}

{% block content %}

<!-- Product Details left  -->

<!-- Product Detail Section -->
<section class="product-detail-section">
    <div class="product-detail-card">
        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-image">
        <div class="product-info">
            <h1 class="product-title">{{ product.title }}</h1>
            <p class="product-price">Price: ${{ product.price }}</p>
            <p class="product-description">{{ product.description }}</p>
        </div>
        <a href="{% url 'order' product.id %}">
            <button class="buy-btn">BUY NOW</button>
        </a>
        
        <a href="{% url 'add_to_cart' product.id %}">
            <button class="cart-btn">ADD TO CART</button>
        </a>
        
    </div>
</section>







{% endblock %}
